.navbar{
    background-color: #00000000;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar a{
   color: #fff;
   font-size: 20px;
   display: flex;
   margin: 20px 10px ;
  
}
.navbar a:hover{
    color: #b4aeae;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 10px ;
}
li:hover{
    color: #b4aeae;
}
body{
    height: 10000px;
}
