.hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(./../assets/img/bg-hero.jpg);
    background-size: cover;
    color: #fff;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
h1{
    font-size: 60px;
}
.btn{
    color: #fff;
    background-color: #f09423;
    padding: 15px;
    border-radius: 20px;
    border: none;
}
.btn:hover{
   background-color: #f0942350;

}